In [1]:
# Import libraries.

import yfinance as yf  # Fetches financial data from Yahoo Finance
import pandas as pd 
import numpy as np

In [3]:
# Fetch Adjusted Close stock data between 2020 and 2024.

# The following tickers point to:
# BAC: Bank of America Corporation
# C: Citigroup Inc.
# GS: The Goldman Sachs Group, Inc.
# JPM: JPMorgan Chase & Co.
# WFC: Wells Fargo & Co.

df = yf.download(['WFC', 'JPM', 'BAC', 'C', 'GS'], start='2020-01-01')['Adj Close']

df

[*********************100%%**********************]  5 of 5 completed

Ticker            BAC          C          GS         JPM        WFC
Date
2020-01-02  32.273811  68.963692  210.857330  124.254189  47.959923
2020-01-03  31.603714  67.664711  208.391663  122.614494  47.665470
2020-01-06  31.558426  67.452477  210.524353  122.516983  47.379948
2020-01-07  31.350147  66.866676  211.910110  120.434128  46.987350
2020-01-08  31.667105  67.376060  213.952850  121.373634  47.130104
...               ...        ...         ...         ...        ...
2024-02-23  33.919998  55.930000  388.298279  183.990005  53.860001
2024-02-26  33.610001  55.360001  387.474152  183.360001  54.130001
2024-02-27  34.279999  55.709999  388.059998  183.449997  54.810001
2024-02-28  34.310001  55.049999  393.179993  184.380005  54.720001
2024-02-29  34.520000  55.490002  389.049988  186.059998  55.590000

[1047 rows x 5 columns]